# Last match in file takes precedence.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

* @DeltaV-Station/maintainers

/Resources/Maps/_DVA/ @DeltaV-Station/maptainers
/Resources/Maps/_DVA/ @DeltaV-Station/maptainers
/Resources/Prototypes/Maps/ @DeltaV-Station/maptainers @DeltaV-Station/maintainers
/Content.IntegrationTests/Tests/PostMapInitTest.cs @DeltaV-Station/maptainers @DeltaV-Station/maintainers

/Resources/Audio/Lobby/ @DeltaV-Station/direction @DeltaV-Station/maintainers
/Resources/Textures/LobbyScreens/ @DeltaV-Station/direction @DeltaV-Station/maintainers

/Resources/ServerInfo/Guidebook/_DVA/Rules/ @DeltaV-Station/head-administrators
/Resources/ServerInfo/Guidebook/_DVA/Rules/ @DeltaV-Station/head-administrators

/.wiki/ @DeltaV-Station/direction
