root = false

[*.cs]
dotnet_analyzer_diagnostic.severity = error
dotnet_diagnostic.CA1707.severity = none # Ignore: Remove underscores from namespace name
dotnet_diagnostic.CA1716.severity = none # Ignore: Rename to no longer conflict with Shared (Reserved wording)
